

ul, li, a
{
    font-size: 1.2rem;
}

.header 
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 1s;
    z-index: 1000;
    text-align: center;

  }
  .header a svg
  {
    position: relative;  
      /* margin-left: 30px; */
      width: 150px;
      height: 50px;
    }

  .menu {
    display: flex;
  }
  
  
  .menu li {
    margin-left: 0px;
    
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    color: var(--branco);
    
  }
  .menu .toggle
  {
    display: none;
  }

  /*---------------- Barra de pesquisa ------------------*/
  .header
  {
    z-index: 1000 ;
  }
  .menu li form
  {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .menu li form .contai
  {
    position: relative;
    display: flex;
    align-items: center;
  }
  .menu li form .contai .iconBuscar
  {
    position: absolute;    
    left: 10px;
    z-index: 10;
    color: #aaa;
  }

  .menu li form .pesq
  {
    position: relative;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-style: italic;
    outline: none;
    text-indent: 35px;
    text-align: left;
  }

  
.menu li form .pesq.clicou,
.menu li form .pesq:focus
{
  font-style: normal;
}

.menu li form input[type = 'search']::-webkit-search-cancel-button{
	
  position: relative;
  background-image: url("/tcc/imagens/botão-close.svg");
	-webkit-appearance: none;	
	height: 15px;
	width: 15px;
  right: 10px;
} 

 /*---------------- ** Barra de pesquisa ** ------------------*/
 
 /*---------------- Responsivo ------------------*/


@media (max-width: 991px) 
{
  .menu.nav-container li.nav a
  {
    display: none;
  }
  .menu.nav-container .toggle
  {
    display: block;
  }
  .menu.nav-container .toggle button
  {
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
  }
  .menu.nav-container .toggle button .iconTG
  {
    display: block;
    width: 100%;
    height: 100%;
    color: #ff0;
    stroke-width: 20px;
    
  }
  .menu.nav-container .toggle button.ativo .iconTG
  {
    color: #f00;
  }
 
  /*---------------- Responsivo  Clicado------------------*/

  .menu.nav-container.ativo
  {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu.nav-container.ativo li.nav a
  {
    display: block;
    color: #111;
  }

  body.ativo
  {
    /* position: relative; */
    overflow: hidden;
    /* filter: blur(5px); */
    /* z-index: 0; */
  }
  .menu .toggle button.ativo
  {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

/*---------------- Responsivo ------------------*/
