
:root
{
    --preto : #000;
    --branco : #fff ;
}

ul, li, a
{
    font-size: 1.2rem;
}
.header 
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 1s;
    z-index: 1000;
    background: var(--branco);

  }
  .header a
  {
      color: var(--preto);
      margin-left: 30px;
    
  }

  .menu {
    display: flex;
  }
  
  
  .menu li {
    margin-left: 0px;
    
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    color: var(--preto);
  }
