
body{
    min-height: 100vh;
    color: aliceblue;
}

 .container{
    padding-top: 10px;
    text-align: center;
    /* font-size: 1.5rem;  */
}
p{
    text-align: justify;
    padding: 10px;
}


